html,
body {
	margin: 0;
	padding: 0;
}

.accordion-panel {
	display: none;
}

.tab-panel.active {
	display: block;
}





.citymap img{
    width: 400px;
}
#prizes{

}
#prizes h3{
    border: 1px solid #000;
    padding: 8px;
    width: 500px;
    margin: 0 auto;
}
#prizes div{
    border: 1px dashed #000;
    padding: 8px;
    width: 500px;
    margin: 0 auto;
}

ul.accordion{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
button.accordion-control{
    background-color:aquamarine;
    padding: 16px;
    display: block;
    width: 100%
}
.accordion-panel {
    display: none;
    padding: 50px;
    border: 1px solid black;
    font-size: 24px;
}

ul.tab-list {
  list-style: none;
}
ul.tab-list li {
  display: inline-block;
  margin-left: 16px;
  padding: 8px;
  border: 1px solid blue;
}
ul.tab-list li.active {
  background-color: green;
}
ul.tab-list li.active a {
  color: white;
}
.tab-panel {
  display: none;
  width: 400px;
  height: 200px;
  padding: 50px;
  border: 1px solid red;
}
.tab-panel.active {
  display: block;
}

